
.main{
    height: 42vw;
}
.container{
    background-color: #141414;
}
.group-films{
    padding: 14px 0;
    position: relative;
}

.group-films-cards{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    gap: 8px;
}
.group-films-title{
    padding: 18px 56px;
    color: white;
    font-size: 22px;
    font-weight: bold;
}
.group-films-cards > div:first-child{
    margin-left: 56px;
}
.group-films-cards > div:last-child{
    margin-right: 56px;
}