.main{
    border: solid 2px red;
    min-height: 80vh;
}

.container{
    background-color: #141414;
}
.group-films{
    padding: 8px 0;
}
.group-films-cards{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    gap: 8px;
}
.group-films-title{
    padding: 8px 56px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.group-films-cards > div:first-child{
    margin-left: 56px;
}
.group-films-cards > div:last-child{
    margin-right: 56px;
}