
.main{
    height: clamp(50vh, 42vw, 1500px);
}
.container{
    background-color: #141414;
}
.group-films{
    padding: 14px 0;
    position: relative;
}

.group-films-cards{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    gap: 8px;
}
.group-films-title{
    padding: 18px clamp(15px, 4%, 60px);
    color: white;
    font-size: 22px;
    font-weight: bold;
}
.group-films-cards > a:first-child{
    margin-left: clamp(15px, 4%, 60px);
}
.group-films-cards > a:last-child{
    margin-right: clamp(15px, 4%, 60px);
}