nav{
    display: flex;
    justify-content: space-between;
    background-color: #141414;
    padding: 8px 20px;
    position: relative;
}
nav ul{
    list-style: none;
    display: flex;
    grid-gap: 8px;
    padding: 8px 16px;
    align-items: center;
}
nav ul li{
    color: white;
}
nav ul li a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 2px;
}
nav ul:nth-child(1){
    
}

nav ul:nth-child(1) li{
    
}
nav ul:nth-child(2){
    grid-gap: 18px;
}
nav ul:nth-child(2) li a{
    font-size: 20px;
}

.logo{
    max-width: 150px;
    margin-right:15px;
}
.logo img {
    width: 100%;
}
.profile-icon-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.profile-icon-group:hover .profile-popup, .profile-popup:hover .profile-popup{
    max-height: 240px;
    padding: 10px;
    transition-delay: 0s;
}
.profile-icon-group .arrow-icon{
    transition: .3s;
    transition-delay: .2s;
}
.profile-icon-group:hover .arrow-icon {
    transform: rotate(180deg);
    transition-delay: 0s;
}
.profile-icon{
    width: 40px;
    height: 40px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
.profile-popup{
    position: absolute;
    width: 200px;
    padding: 0px 10px;
    top: calc(100% + 3px);
    right: 30px;
    background-color: #141414;
    max-height: 0px;
    overflow: hidden;
    transition: .3s;
    transition-delay: .2s;
    z-index: 9999;
}
.profile-popup div{
    padding: 8px;
}
